<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Wine Quality Prediction</title>
  </head>
  <body>
    <div class="container">
      <h1>Wine Quality Prediction</h1>
      <form action="{{ url_for('predict') }}" method="post">
      
        <label for="residual sugar">Residual Sugar:</label>
        <input type="text" id="residual sugar" name="residual sugar" required>
        <br>
        <label for="ph">pH:</label>
        <input type="text" id="ph" name="ph" required>
        <br>
        <label for="citric acid">citric acid:</label>
        <input type="text" id="citric acid" name="citric acid" required>
        <br>
        <label for="volatile acidity">volatile acidity:</label>
        <input type="text" id="volatile acidity" name="volatile acidity" required>
        <br>
        <label for="free sulfur dioxide">free sulfur dioxide:</label>
        <input type="text" id="free sulfur dioxide" name="free sulfur dioxide" required>
        <br>
        <label for="sulphates">sulphates:</label>
        <input type="text" id="sulphates" name="sulphates" required>
        <br>
        <label for="alcohol">Alcohol:</label>
        <input type="text" id="alcohol" name="alcohol" required>
        <br>
        <br>
        <input type="submit" value="Predict">
      </form>
    </div>
  </body>
</html>


